body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
}

.todo-container {
  margin: 20px;
  background-color: #222;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

.task-input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.task-input input {
  flex: 1;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.btn-save {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  &:hover {background-color: #0056b3;}
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-list li {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  gap: 20px;
  align-items: center;
}
.task-list li button {padding: 5px 10px;}

.task-list li.completed span {
  text-decoration: line-through;
  color: gray;
}

.btn-delete {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  &:hover { background-color: #c82333; }
}

.task-list li span ,.edit-text-input { flex-grow: 1; }

.task-info {
  margin: 20px auto;
  text-align: center;
  font-weight: bold;
}

input{
  background: #000;
  color: #f4f4f4;
}
.img-container{
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.img-container-check{
  background: #0a0;
}
.task-filters{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.img-container-completed{
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #0a0;
}
.input-check{ display: none;}